* {
  margin: 0;
}
.parents {
  width: 200px;
  height: 200px;
  position: relative;
  background-color: red;
  margin: 250px auto;
   overflow: hidden;
   transition: 500ms;
  &:hover .child__1{
    top: 0;
    left: 0;
  } 
  &:hover .child__2{
    top:0;
    left: 50%;
  } 
  &:hover .child__3{
    top: 50%;
    left: 0;
  } 
  &:hover .child__4{
    top: 50%;
    left: 50%;
  } 
  .child__1 {
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: blue;
    top: -50%;
    left: -50%;
    transition:300ms ;
    transition-delay: 100ms;
  }

  .child__2 {
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: green;
    top: -50%;
    right: -50%;   transition:300ms ;
    transition-delay: 300ms;
    
  }
  .child__3 {
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: yellow;
    top: 100%;
    left: -50%;
    transition:300ms ;
    transition-delay: 500ms;
  }
  .child__4 {
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: pink;
    top: 100%;
    right: -50%;
    transition:300ms ;
    transition-delay: 700ms;
  }
}
